{% extends 'base.html' %}

{% block title%} Panel de administración:
    {% block section_title %}
    {% endblock %}
{% endblock %}
{% block template_components %} 
    <link rel="stylesheet" href="../static/css/plataforma.css">

{% endblock %}

{% block body %}
    <div class="nav hidden-xs">
        <input type="checkbox" class="mi_checkbox" id="check">
        <label class="btn btn-default menu" for="check">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </label>
        <nav class=" bg-black toolbar">
            <div class="list-group text-center">
                <a href="" class=" list-group-item" >
                    <span class="glyphicon glyphicon-home"></span>
                    Principal
                </a>
                <a href="" class=" list-group-item">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    Proyectos
                </a>
                <a href="" class=" list-group-item">
                    <span class="glyphicon glyphicon-hdd"></span>
                    Dispositivos
                </a>
                <div href="" class=" list-group-item ">
                    <div class="submenu">
                         <span class="glyphicon glyphicon-tasks"></span>
                        Tareas
                    </div>
                    <div class="submenu-items">
                        <ul class="">
                            <li><a href="#">item 1</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            <li><a href="#">item 2</a></li>
                            <li><a href="#">item 3</a></li>
                            
                            
                        </ul>
                    </div>
                   
                </div>
                <a href="" class="list-group-item">
                    <span class="glyphicon glyphicon-file"></span>
                    Reportes
                </a>
                <a href="" class="list-group-item">
                    <span class="glyphicon glyphicon-wrench"></span>
                    Config

                </a>
                
                
            </div>
        </nav>
    </div>
    <br>
    <br>
    <br>
    
    
    <div class="container col-sm-10 col-sm-offset-2 col-md-offset-1 ">
        {% block dashboard_body %}
        {% endblock %}
    </div>
{% endblock %}