{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block section_title %}
    Proyectos
{% endblock %}

{% block dashboard_body %}
        <script>
                
            $.getJSON("/obtenerCoordenadas", function(datos) {
                alert("Dato: " + datos["dispositivos"]);
                $.each(datos["primos"], function(idx,primo) {
                    alert("Numero primo: " + primo);
                });
            });
    
        </script>
        <section class="row bg-blanco">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 class="section-title">Datos del Proyecto</h3>
                <form action="{%url 'dashboard:modificar-proyecto' proyecto.id%}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% include "dashboard/form_template.html" %}
                    <div class="col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
                <br>
            </div>
            
        </section>
        <section style="width:100%; height:400px; border:1px solid #000; margin:0 auto">
            <div id="map" style="height:100%"></div>
        </section>
        <section class="row">
            <h4 class="section-title">Dispositivos del proyecto.
                <a  data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus"></span> Agregar nuevo dispositivo
                </a>
            </h4>
            {% for dispositivo in proyecto.dispositivo_set.all %}
            <div class="bg-blanco col-sm-3 activity-label ">
                <div class="actibity-label-title color-lightseagreen col-sm-10">
                        {{dispositivo}}
                </div>
                <div class="activity-label-icon col-sm-2">
                    <a href="{% url 'dashboard:detalle-dispositivo' dispositivo.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    
                </div>
                
            </div>
            {% endfor %}
        </section>
        

       <!-- Button trigger modal -->
       <div class="row">
            
        </div>
        
  
  <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Nuevo Proyecto</h4>
                    </div>
                    <form action="{% url 'dashboard:dispositivos' %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="modal-body">
                            {% include "dashboard/form_template.html"  with form=formDisp %}
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        <script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2RBZqOa_-nqvoGYHLXtsZGNFKyT50a04&callback=initMap">
        </script>
         <script>

            function initMap() {
            
        
                var image = {
                //url: 'https://www.irisbylowes.com/_content/icons/sensors.png',
                //url: 'ico.png',
                //ulr:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(32 ,  32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the flagpole at (0, 32).
                    anchor: new google.maps.Point(16,16)
                };
            
                var peto_lgl = {lat:20.125556,lng: -88.921389};
                var tekax_gl = { lat:20.201944, lng:-89.288056};
                    var porpiedades_del_mapa={
                    zoom:7,
                    center: peto_lgl
                };
                var contenedor_mapa = document.getElementById('map');
                var map = new google.maps.Map(contenedor_mapa, porpiedades_del_mapa);
                    var propiedades_marcador = {
                    position: peto_lgl,
                    label : "Peto, corona de la luna",
                    icon:image
                };
                var peto_marcador = new google.maps.Marker(propiedades_marcador);
                peto_marcador.setMap(map);
                
                
                // Marcador para tekax
                //Propiedades
                var propiedades_tekax_marcador={
                    position: tekax_gl,
                    label: "Tekax",
                    animation: google.maps.Animation.DROP,
                    
                }
                var tekax_marcador = new google.maps.Marker(propiedades_tekax_marcador);
                tekax_marcador.setMap(map);
                
                
                //var marker = new google.maps.Marker({
                    //position: peto_lgl,
                    //map: map,
                    //title: 'Hello World!'
                //});
            } 
    </script>      

{% endblock %}