{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block section_title %}
    Inicio
{% endblock %}

{% block dashboard_body %}
        <div class="row text-right">
            <div class="bg-blanco col-sm-3 activity-label ">
                <div class="col-sm-9 actibity-label-title">
                    <span class="color-teal"><strong> {{numero_proyectos}} </strong></span> <br>
                    <span class="color-lightseagreen">Proyectos</span>
                </div>
                <div class="activity-label-icon col-sm-3">
                    <span style="font-size:30px" class="glyphicon glyphicon-folder-open"></span>
                </div>
                
            </div> 
            <div class="activity-label bg-blanco col-sm-3">
                    <div class="col-sm-9 actibity-title">
                        <span class="color-teal"><strong> {{numero_dispositivos}} </strong></span> <br>
                        <span class="color-lightseagreen">Dispositivos</span>
                    </div>
                    <div class="activity-label-icon col-sm-3">
                        <span style="font-size:30px" class="glyphicon glyphicon-hdd"></span>
                    </div>
                    
                </div> 
        </div>
        
        <div class="row">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                            <img src="{% static 'img/user_pic.png'%}" class="img-responsive" alt="">
                            <div class="caption">
                                <input type="file" class="btn btn-success btn-block">
                            </div>
                    </div>
                    
                    
                </div>
                <div class="col-xs-12 col-md-7 bg-blanco">
                    <h3>Datos de usuario.</h3>
                    
                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre">
                        </div>
                    </div>

                    <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">E-mail</label>
                            <div class="col-sm-9">
                                <input type="text" id="imail" name="email" class="form-control" placeholder="Correo">
                            </div>
                    </div>
                    <br>
                    <span> <h4>Seguridad</h4></span>
                    <div class="form-group">
                            <label for="pass-act" class="col-sm-3 control-label">Contraseña actual</label>
                            <div class="col-sm-9">
                                <input type="password" value="something" id="pass-act" name="pass-act" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label for="pass" class="col-sm-3 control-label">Contraseña nueva</label>
                            <div class="col-sm-9">
                                <input type="password" value="" id="pass" name="pass" class="form-control">
                            </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4">
                            <button type="submit" class="btn btn-info">Actualizar Datos</button>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
    

{% endblock %}