{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block section_title %}
    Proyectos
{% endblock %}

{% block dashboard_body %}
        <!-- Button trigger modal -->
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus"></span> Agregar nuevo proyecto
            </button>
        </div>
        
  
  <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Nuevo Proyecto</h4>
                    </div>
                    <form action="#" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="modal-body">
                            {% include "dashboard/form_template.html" %}
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <section class="row">
            
        {% if proyectos %}
            <h3 class="section-title">Proyectos.</h3>
            {% for proyecto in proyectos  %}
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'dashboard:detalle-proyecto' proyecto.id %}" class="" > 
                            <span class="sr-only">Editar</span>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        {{proyecto.nombre_de_proyecto}}
                    </div>
                    <div class="panel-body">
                            {{proyecto.descripcion | truncatewords:30}}
                            
                    </div>
                        
                </div>
            </div>
                
            {% endfor %}
        {% else %}    
            <h3 class="section-title">No se han registrado proyetos.</h3>
        {% endif %}
                
        </section>
    
{% endblock %}