{% extends 'dashboard/base_n.html' %}
{% load staticfiles %}

{% block titulo %}Proyectos{% endblock  %}

{% block links_templates %}
<link rel="stylesheet" href="{% static '/css/dashboard/tabla.css' %}">
<link rel="stylesheet" href="{% static '/css/dashboard/formulario.css' %}">
<link rel="stylesheet" href="{% static '/css/modal.css' %}">
{% endblock %}

{% block usuario %}
{{usuario}}
{% endblock %}


{%block titulo_cabecera %} Proyectos {% endblock %}

{% block contenido %}


<div id="modal-proyecto" class="modal">
    <div class="dialogo-modal">
        <div class="encabezado-modal">
            <h2 class="margen">Nuevo Proyecto</h2>
        </div>
        <div class="cuerpo-modal">
            <form action="" class="formulario" method="post">
                {% csrf_token %}
                {% include "dashboard/form_template.html" %}
                <div class="pie-modal">
                    <input class="boton boton-exito" type="submit" value="Crear">
                    <input class="boton boton-advertencia" data-trigger="cerrar-modal" data-target="modal-proyecto" type="button" value="Cancelar">
                </div>
            </form>
        </div>
    </div>
</div>

{% if proyectos %}
<table class="tabla">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Dispositivos</th>
        <th>Sensores</th>
        <th>Opciones</th>
    </tr>
    {% for proyecto in proyectos %}
        <tr>
            <td>{{proyecto.nombre}}</td>
            <td>{{proyecto.descripcion | truncatewords:10}}</td>
            <td>{{proyecto.dispositivos}}</td>
            <td>{{proyecto.sensores}}</td>
            <td class="opciones"><a href="{%url 'dashboard:detalle-proyecto' proyecto.id%}"><span class="ion-eye"></span></a></td>
            <td class="opciones">
                <a onclick="eliminarRegistro(this)" data-target="{{proyecto.id}}">
                    <span class="ion-trash-a"></span></a></td>
        </tr>
    {% endfor %}

</table> 
<div id="avisoEliminar" class="modal advertencia">
    <div class="dialogo-modal-reducido">
        <div class="encabezado-modal"></div>
        <div class="cuerpo-modal">
            <p>
                Esta por eliminar un proyecto, esta acción no tiene modo de revertirse.
            </p>
        </div>
        <div class="pie-modal">
            <button class="boton" data-trigger="cerrar-modal" data-target="avisoEliminar">Cancelar</button>
            <button class="boton boton-advertencia" onclick="eliminar()">Confirmar</button>
        </div>
    </div>
</div>

<div class="centrado">
    <input data-trigger="abrir-modal" data-target="modal-proyecto" class="boton boton-informacion" type="button" value="Nuevo Proyecto">
</div>

{% else %}
    <h2 class="margen">Aun no cuentas con Proyectos..</h2>
    <div class="centrado">
        <input data-trigger="abrir-modal" data-target="modal-proyecto" class="boton boton-informacion" type="button" value="Nuevo Proyecto">
    </div>
    
{% endif %}

{% endblock %}

{% block scripts_extra %}
<script src="{% static '/js/arlibreria.js' %}"></script>
<script src="{% static '/js/modal.js' %}"></script>
<script>
    var url = "";
    var avisoE = new LIBRERIA.Modal("avisoEliminar");
    function eliminarRegistro(boton){
        url= boton.dataset["target"]+"/eliminar";
        avisoE.abrir();
        
    }
    function eliminar(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                var mensaje = new LIBRERIA.Modal("mensaje");
                mensaje.cuerpo.innerHTML = this.responseText;
                mensaje.cuerpo.innerHTML += "<br>La página se refrescará en 3 segundos..." ;
                mensaje.reducido();
                if(this.status==200){
                    mensaje.encabezado.innerHTML = "<h2>Estado: 200 Ok </h2>";
                    mensaje.exito();
                }else{
                    mensaje.encabezado.innerHTML = "<h2>Estado:"+this.status+" </h2>";
                    mensaje.peligro();
                }
                mensaje.abrir();
                setTimeout( function(){
                    location.reload();
                }, 3000)

            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
        avisoE.cerrar();
    }
</script>
{% endblock %}
