{% extends 'dashboard/base_n.html' %}
{% load staticfiles %}

{% block titulo %}Proyectos{% endblock  %}

{% block links_templates %}
<link rel="stylesheet" href="{% static '/css/dashboard/tabla.css' %}">
<link rel="stylesheet" href="{% static '/css/dashboard/proyectos.css' %}">
<link rel="stylesheet" href="{% static '/css/modal.css' %}">
{% endblock %}

{% block usuario %}
{{usuario}}
{% endblock %}


{%block titulo_cabecera %} Proyectos {% endblock %}

{% block contenido %}


{% if proyectos %}
<table class="tabla">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Dispositivos</th>
        <th>Sensores</th>
        <th>Opciones</th>
    </tr>
    {% for proyecto in proyectos %}
    <tr>
        <td>{{proyecto.nombre_de_proyecto}}</td>
        <td>{{proyecto.descripcion | truncatewords:10}}</td>
        <td>{{proyecto.dispositivo_set.count}}</td>
        <td>{{numero_sensores}}</td>
        <td class="opciones"><a href=""><span class="ion-eye"></span></a></td>
        <td class="opciones"><a href=""><span class="ion-trash-a"></a></span></td>
    </tr>
    {% endfor %}

</table>  
{% else %}
    <h2>Aun no cuentas con Proyectos..</h2>
    <div class="centrado">
        <input data-trigger="abrir-modal" data-target="modal-proyecto" class="boton boton-informacion" type="button" value="Nuevo Proyecto">
    </div>
    
    <div id="modal-proyecto" class="modal">
        <div class="dialogo-modal">
            <div class="encabezado-modal">
                Nuevo Proyecto
            </div>
            <div class="cuerpo-modal">
                Formulario
            </div>
            <div class="pie-modal">
                <input class="boton boton-exito" type="button" value="Crear">
                <input class="boton boton-advertencia" data-trigger="cerrar-modal" data-target="modal-proyecto" type="button" value="Cancelar">
            </div>
        </div>
    </div>
{% endif %}

{% block scripts_extra %}
<script src="{% static '/js/arlibreria.js' %}"></script>
<script src="{% static '/js/modal.js' %}"></script>
{% endblock %}


  
{% endblock %}