{% extends 'base.html'%}
{% block title%}Inicio-IoT {% endblock %}
{% block template_components %}
{% endblock %}
{% load staticfiles %}
{% block body %}
    <style>
        #container{
            /*background-image: url(http://i2.esmas.com/2016/07/26/879511/smarthome-624x351.jpg);*/
            background-image: url({% static 'img/landing/internet-de-las-cosas-maquinas-conexion-recurso-bbva-1920x0-c-f.jpg'%});
            background-position-y: 50px;
            background-size: 100% 100%;
            display: block;
            min-height:100%;
            min-width: 100%;
            position: absolute;
            left: 0px;
            top: 0;
            padding-top: 80px;
        }
    </style>
    <div id="container" style="">
            <div class="col-sm-4 col-sm-offset-4 bg-success">
                <h3>Inicio se sesión.</h3>
                {% include 'cuentas/login_form.html' %}
                <p class="text-center text-warning">
                    ¿Aún no tienes una cuenta?, <a href="#">¡Crea un usuario</a> y empieza 
                    a crear tus propios proyectos.!
                </p>
            </div>
    </div>
    
{% endblock %}