/*  Colores de Background  */

.bg-purpura{
    background-color: #81007f;
    color: #fff;
}

.bg-blanco{
    background-color: #fff;
    color: #333
}

/* Colores de Texto */
.color-teal{
    color: #008080;
}

.color-darkturquoise{
    color:#00CED1
}

.color-lightseagreen{
    color:#20B2AA
}