/*
    =====================
    Estilos del Formulario
    ======================
*/
.formulario{
    width: 50%;
    margin: 20px auto;
    background: #f7f7f7;
    padding: 20px 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* Safari 6.1+ */
    flex-direction: column;
    color: #5a5a5a;
}

input:required {
    box-shadow: none;
}

.izquierda{
    margin-bottom: 100px;
    margin-left: 20px;
    width: 44%;
}

.grande{
    width: 70%;
}

/*Estilos de los campos y etiquetas*/
.formulario input[type="text"],
.formulario textarea,
.formulario label,
.formulario input[type="number"],
select{
    width: 80%;
    margin: 10px auto;
}

.formulario input[type="text"],
.formulario textarea,
.formulario input[type="number"],
select{
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #858383;
    font-size: 14px;
    padding: 12px;
}

/*
    Estilo input tipo checkbox
*/


.formulario textarea{
    height: 150px;
    min-height: 100px;
    max-height: 200px;
    resize: none;
    margin-bottom: 10px;
}

.formulario input[type="submit"]{
    width: 30%;
    min-width: 150px;
    margin: 12px auto;
}


/*
    =====================
    Media Queries
    ======================
*/


/*
    Media queries del Formulario
*/

@media screen and (max-width: 800px){
    .formulario{width: 90% ; margin-bottom: 50px;}
    .izquierda{margin: 20px auto;}
}
@media screen and (max-width: 400px){
    .formulario{width: 95% ; margin-bottom: 50px;}
    
}