.contenedor-main{
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* Safari 6.1+ */
    flex-direction: row;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */ 
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-form{
    display: flex;
    flex-direction: row;
}

.contenedor-form .items{
    width: 35%;
    background: #ededf1;
    border-radius: 5px;
    overflow: scroll;
}

.contenedor-form form{
    width: 65%;
    margin: 0px auto !important;
}

.contenedor-form form #agregarSensor{
    width: 180px;
    margin: 35px auto;
}

.contenedor-sensores{
    width: 50%;
    margin: 0px auto;
}


@media screen and (max-width: 800px){
    .contenedor-sensores{width: 95%; margin-bottom: 50px}
}
