/*
    =====================
    Red
    ======================
*/
#mynetwork{
    margin-right: 10px;
    width: 50%;
    height: 400px;
}


/*
    Contenedor main (para dar propiedades flex)
*/

.contenedor-main{
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* Safari 6.1+ */
    flex-direction: row;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */ 
    flex-wrap: wrap;
    justify-content: space-between;
}

